@import "tailwindcss";

/* Reset default styles */
html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  color: #000000;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}